 #i{ 
  width: 500px;
  height: 750px;
  }


.first{
	text-align: center; 
	line-height: 150px;
	background-color: red;
	width:500px;
	height: 150px;
	font-size: 30px; 
      }

.second{
    width: 500px;
    height:100px;
    background-color: #8ff192;

       }

 .third{
 	  width: 300px;
 	  height: 400px;
 	  background-color: #ff00ff;
 	  float: left;
        }


.fouth{
       width: 200px;
       height: 400px;
       background-color: #add8e6;
       float: left;
      
  }

  .fifth{
  	  width: 500px;
  	  height: 100px;
      color: white;
       float: left;
  	  text-align: center;
      line-height: 60px;
  	  background-color:black;
  }